RewriteEngine on
RewriteCond %{HTTP_HOST} ^https://dev.devstep.com.br$ [NC,OR] 
RewriteCond %{HTTP_HOST} ^https://dev.devstep.com.br/$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]